/*============================================================
Imports
=============================================================*/

/*============================================================
Css refresh
=============================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*============================================================
Global
=============================================================*/

html {
  overflow-x: hidden;
}

body {
  background-color: #111111;
  font-size: 16px;
  line-height: 10px;
}

/*============================================================
Header
=============================================================*/

.fadeIn {
  display: none;
}

.content-wrapper {}

.hero {}

.logo {
  width: 100px;
  height: 100px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.logo img {
  width: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.backgroundLogo {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 1vh 1vw 0 0;
  float: right;
  background: none;
  transition: all 2s ease-in;
  -o-transition: background 2s ease-in;
  -moz-transition: background 2s ease-in;
  -webkit-transition: background 2s ease-in;
}

.backgroundLogo:hover {
  background: rgb(43, 43, 43);
  background: radial-gradient(circle, rgba(43, 43, 43, 1) 38%, rgba(17, 17, 17, 0.9556022237996761) 64%);
}

.header {
  width: 100vw;
  height: 85vh;
  background-color: #111111;
}

.text-wrapper {
  width: auto;
  margin: 0 0 0 10vw;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quote {
  padding: 3vh 0 0 0;
}

hr {
  display: block;
  height: 1px;
  width: 200px;
  border: 0;
  border-top: 1px solid red;
  margin: 3.5vh 0 0 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 2.1875em;
}

h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 2em;
  line-height: 3rem;
}

h2 p {
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 0.7em;
  font-style: italic;
  float: right;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 100;
  font-size: 1.375em;
  line-height: 1.5625rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 100;
  font-size: 1.5625em;
  line-height: 2rem;
  margin-left: -30vw;
}
svg {
  vertical-align: top;
  box-shadow: 0 30px 20px -20px black;
}

/*============================================================
Kacheln
=============================================================*/

.grafik-top {}

/*============================================================
Portfolio
=============================================================*/

.portfolio-wrapper {
  width: 100vw;
  overflow: hidden;
  padding: 20vh 0 20vh 0;
}

.portfolio-content {
  margin: 0 0 0 15vw;
  width: 40vw;
  float: left;
  opacity: 0;
}

.content-wrapper-img {
  margin: 0 auto;
  width: 80%;
  padding: 10vh 0 0 0;
}

.content-wrapper-img iframe {
  width: 100%;
  height: 600px;
}

.portfolio-text {
  width: 30vw;
  padding: 10vh 0 0 0;
  overflow: hidden;
}

/*============================================================
Footer
=============================================================*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer svg {
  position: absolute;
  z-index: -1;
}

/*============================================================
Media Screens
=============================================================*/

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  body {
    font-size: 16px;
    line-height: 1;
  }
  hr {
    width: 250px;
  }
  .text-wrapper {
    width: 50vw;
  }
}

@media (max-width:1025px) {
  /*tablet, landscape iPad, lo-res laptops ands desktops */
  body {
    font-size: 14px;
    line-height: 1;
  }
  hr {
    width: 225px;
  }
  .text-wrapper {
    width: 50vw;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 100;
    font-size: 2em;
    line-height: 1.5rem;
  }
}

@media (max-width:961px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  body {
    font-size: 12px;
    line-height: 12px;
  }
  hr {
    width: 200px;
  }
  h2 {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 2em;
    line-height: 2rem;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1.5rem;
  }
  .text-wrapper {
    width: 70vw;
  }
  .portfolio-wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .portfolio-content {
    width: 100%;
    margin: 0 0 0 0;
  }
  .content-wrapper-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smartkey {
    width: 400px;
  }
  .content-wrapper-img iframe {
    width: 100%;
    height: 600px;
  }
  .portfolio-text {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10vh 0 0 0;
  }
  .portfolio-text h3 {
    padding: 0 20vw 0 20vw;
  }
}

@media (max-width:640px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  body {
    font-size: 12px;
    line-height: 10px;
  }
  hr {
    width: 175px;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 1rem;
  }
  .logo img {
    width: 75px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .text-wrapper {
    width: 80vw;
  }
  .portfolio-wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .portfolio-content {
    width: 100%;
    margin: 0 0 0 0;
  }
  .content-wrapper-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smartkey {
    width: 400px;
  }
  .content-wrapper-img iframe {
    width: 100%;
    height: 600px;
  }
  .portfolio-text {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10vh 0 0 0;
  }
  .portfolio-text h3 {
    padding: 0 20vw 0 20vw;
  }
}

@media only screen and (max-width:639px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  body {
    font-size: 8px;
  }
  hr {
    width: 150px;
  }
  h2 {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 2em;
    line-height: 1.5rem;
    display: inline-block;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 0.8rem;
  }
  .logo img {
    width: 50px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .text-wrapper {
    width: 80vw;
    margin: 0 0 0 5vw;
  }
  .portfolio-wrapper {
    width: 100vw;
    overflow: hidden;
  }
  .portfolio-content {
    width: 100%;
    margin: 0 0 0 0;
  }
  .content-wrapper-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smartkey {
    width: 400px;
  }
  .content-wrapper-img iframe {
    width: 100%;
    height: 600px;
  }
  .portfolio-text {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10vh 0 0 0;
  }
  .portfolio-text h3 {
    padding: 0 20vw 0 20vw;
  }
}
